.personal-data {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.profile-aside {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.username-header {
  color: rgb(117, 38, 40);
}

.profile-pic-small {
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic-container {
  margin: 30px 0px 0px;
}

.card a .thumbnail {
  width: 10%;
  padding: 2px 0px 2px 20px;
  margin-right: 0px;
}

.post-thumbnail-header {
  padding: 10px 20px 5px;
  margin: 0px;
}

.sidebar-box p {
  margin-bottom: 0px;
}

.sidebar-box {
  max-height: 120px;
  position: relative;
  overflow: hidden;
}

.sidebar-box .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0;
  padding: 30px 0px;
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, white);
}

/* .post-thbn-body {
  margin: 0px auto;
  padding: 0px 20px 10px;
  overflow: hidden
}

.crop-text-2 {
  -webkit-line-clamp: 2;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
} */

.post-thbn-header-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.settings-form {
  margin-top: 20px;
}

.personal-info-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .community-thumbnail {
  padding: 5px 0px;
}

.community-thumbnail-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.n-members-text {
  padding: 20px 10px;
}